/* Header.css */

.app-header {
  background: linear-gradient(90deg, #2f1a74, #1f1347);
  display: flex;
  padding: 5px 20px;
  text-transform: uppercase;
  align-items: center;
}

.logo-container {
  flex: 1; /* Take remaining space */
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 16px;
  display: block;
}

.menu {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 2;
}

.menu li {
  margin: 0 16px;
}

.menu span {
  color: #ffffff;
  font-size: 1rem;
  text-transform: uppercase;
}

.dashboard {
  padding: 13px 17px;
  border-radius: 13px;
  border: 1px solid #ffffff;
  margin: 10px auto;
  text-align: center;
}

.metamask-container div {
  cursor: pointer;
}

/* Media query for smaller screens (mobile) */
@media only screen and (max-width: 767px) {
  .app-header {
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
  }

  .menu {
    margin-top: 10px;
  }
  .metamask-container {
    margin-bottom: 10px;
  }
}
