/* Home.css */

.dashboard-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f4;
}

.card {
  border-radius: 16px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 20px;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.claim-button {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #2f1a74;
  color: #fff;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s ease-in-out;
}

.claim-button:hover {
  background-color: #1f1347;
}
